<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/estilos.css" rel="stylesheet">
        <script src="js/validar_empleado.js"></script> 
    </head>
    <body>
        
  
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                    <h2>Actualizar Empleado</h2>
                    
                    <div class="panel  panel-primary">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Empleado</div>
                        <div class="panel-body">
                            
                            <form action="#" method="POST">
                                <div class="row">
                                <div class="col-md-6">
                                <div class="form-group">
                                    <label>Codigo</label>
                                    <input type="text" class="form-control" value="12345678" name="codigo">
                                </div>
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" value="Programación I" name="nombre">
                                </div>
                                <div class="form-group">
                                    <label>Carrera</label>
                                    <select class="form-control">
                                        <option>Ing. Computación y Sistemas</option>
                                        <option>Ing. Civil</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Area Curricular</label>
                                    <input type="text" class="form-control" value="CIENCIAS DE LA COMPUTACIÓN" name="curricular">
                                </div>
                                <div class="form-group">
                                    <label>Ciclo</label>
                                    <select class="form-control">
                                        <option>I</option>
                                        <option>II</option>
                                    </select>
                                </div>
                                
                                </div>
                                <div class="col-md-6">
                                <div class="form-group">
                                    <label>Codigo requisito</label>
                                    <input type="text" value="21234567" class="form-control" name="cod_requisito">
                                </div>
                                <div class="form-group">
                                    <label>Estado</label>
                                    <select class="form-control">
                                        <option>Habilitado</option>
                                        <option>Inhabilitado</option>
                                    </select>
                                </div>
                                
                                </div>
                                </div>

                                 <input type="submit" name="actualizar" value="Actualizar" class="btn btn-primary">
                            </form>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
