<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/estilos.css" rel="stylesheet">
    </head>
    <body>
        
  
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    
                    <h2>Alumnos</h2>
                    
                    <div class="panel  panel-primary">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Listar Alumnos</div>
                        <div class="panel-body">
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="Agregar_alumno.html"><button class="btn btn-primary"> Agregar Alumno </button></a>

                                </div>
                            </div>
                            
                            <table class="table">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>IdAlumno</th>
                                        <th>Dni</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Teléfono</th>
                                        <th>Email</th>
                                        <th>Fecha Nacimiento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                <br>
                                    <tr>
                                        <th>1</th>
                                        <td>123456789</td>
                                        <td>Leonidas</td>
                                        <td>Lazo Hernandez</td>
                                        <td>1234567</td>
                                        <td>leonidas_123@gmail.com</td>
                                        <td>12/10/1995</td>
                                        <td><input type="button" name="actualizar" value="Actualizar" class="btn btn-primary btn-sm"></td>
                                        <td><input type="button" name="eliminar" value="Eliminar" class="btn btn-primary btn-sm"></td>
                                    </tr>
                                        
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        
        
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
